{% extends 'chat_channel/base.html' %}
{% load static %}
{% block styles %}
  {{ block.super }}
 

{% endblock %}

{% block content %}
  <section class="home">
    <video class="video-slide active" src="{% static 'video/nightcamp.mp4' %}" autoplay muted loop></video>
    <video class="video-slide" src="{% static 'video/fireman.mp4' %}" autoplay muted loop></video>
    <div class="content active">
      <h1>Why<br><span>Camping?</span></h1>
      <p>Disconnect from the world and reconnect with nature. Experience the beauty and tranquility of the great outdoors. Plan your peaceful getaway with us and discover the serenity of our peaceful retreat, where you can relax and rejuvenate surrounded by nature.</p>
    </div>
    <div class="content">
      <h1>Camping<br><span>Enjoy</span></h1>
      <p>People enjoy camping because it provides an opportunity to spend quality time with friends away from the distractions of daily life, offers a variety of outdoor activities, can be an adventure, is a great way to relax and unwind, and can be an affordable vacation option compared to other types of travel. Additionally, camping can build self-sufficiency and problem-solving skills, which can build confidence and resilience.</p>
    </div>
    <div class="slider-navigation">
      <div class="nav-btn active"></div>
      <div class="nav-btn"></div>
    </div>
  </section>
  

  <script type="text/javascript">
      //Javacript for video slider navigation
      const btns = document.querySelectorAll(".nav-btn");
      const slides = document.querySelectorAll(".video-slide");
      const contents = document.querySelectorAll(".content");

      var sliderNav = function(manual){
        btns.forEach((btn) => {
          btn.classList.remove("active");
        });

        slides.forEach((slide) => {
          slide.classList.remove("active");
        });

        contents.forEach((content) => {
          content.classList.remove("active");
        });

        btns[manual].classList.add("active");
        slides[manual].classList.add("active");
        contents[manual].classList.add("active");
      }

      btns.forEach((btn, i) => {
        btn.addEventListener("click", () => {
          sliderNav(i);
        });
      });


  </script>

{% endblock %}
