{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block head %}
    <title>{% block title %}{% endblock %} - 露营</title>
    {% endblock %}
    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% endblock %}
    <style>
      body {
        background-image: url("{% static 'images/camp_background.jpg' %}");
        background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="#">露营</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">主页</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'reservation' %}">预定系统</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'chatbot' %}">智能客服</a>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="container">
      {% block content %}
      
      {% endblock %}
    </main>
    {% block scripts %}
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.slim.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap/4.6.0/js/bootstrap.min.js"></script>
      <!-- Load React. -->
      <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>

        <!-- Load our React component. -->
    <script src="{% static 'js/like_button.js' %}"></script>
    {% endblock %}
  </body>
</html>

