<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Welcome, {{ current_user.username }}!</h1>
    <p>You are logged in as a {{ current_user.role }}.</p>
    <form action="{{ url_for('logout') }}" method="POST">
      <button type="submit">Log out</button>
    </form>
  </body>
</html> -->
{% extends "base.html" %}

{% block content %}
    <h1>Welcome to your Dashboard</h1>
    <p>You are logged in as {{ current_user.username }}</p>
    <a href="{{ schedule_url }}" class="btn btn-primary">Schedule</a>
{% endblock %}
